<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<form enctype="multipart/form-data" method="post">
    {% csrf_token %} {% for campo in form %}
    <div class="mb-3">
        <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}:</label> {% if campo.name == 'fecha_reserva' %}
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-calendar3"></i></span> {{ campo }}
        </div>
        {% else %} {{ campo }} {% endif %} {% if campo.errors %}
        <div class="text-danger small">{{ campo.errors }}</div>
        {% endif %}
    </div>
    {% endfor %}

    <input class="btn btn-success" type="submit" value="Enviar información" />
    <a class="btn btn-danger" href="{% url 'reservas' %}" role="button">Cancelar</a>
</form>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
<script>
    flatpickr('#id_fecha_reserva', {
        locale: 'es',
        dateFormat: 'Y-m-d',
        allowInput: true,
        disableMobile: false,
    });
</script>